---
layout: default
title: About Us
header_color: pink-color
header_image: /images/flowers-1.jpg
header-background-position:
header-description-block: false
header-title: Enquiry Form.
header-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptates cum ipsa explicabo, quos temporibus neque nisi eveniet ad ex voluptatibus, alias dolores voluptas! Qui amet sapiente cum tempora. Eveniet?

about_image: /images/flowers-7.jpg
about-background-position:
about2_image: /images/flowers-2.jpg
about-background-position:
leo_image: /images/flowers-1.jpg
about-background-position:
---

<!--Header  -->
{% include header-section.html %}

 <!--DAUGHTER  -->
<section class="dark-gold-text capped-width-lg about-pg bg-image-bg padded-t padded-0-sm">
    <div class="grid-right-middle capped-width">
      <div class="col-6_sm-12 grid-middle text-left padded padded-r-0 padded-0-sm" >
        <div class="col-12 sm-thoughtful padded-t-2-sm padded-b-0-sm"data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
          <h2 class="padded-b-2 text-normal">
            <span class="editable">About Us.</span>  
          </h2>
          <p class="editable"><strong>Maud and Ivy,</strong> what does it mean and who are we?</p>
          <p class="editable"><strong>Maud</strong> is a nickname I have had since childhood and Ivy is my daughter’s name and also a beautiful plant I like to work with.  The name just seemed like a beautiful choice to me.</p> 
        </div>
      </div>
      <div class="col-6_sm-12 grid-middle padded">
          <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.about_image}}');"></div>      
      </div> 
  </section> 
  <!-- SON -->
  <section class="stone-color dark-gold-text">
    <div class="capped-width grid-middle tall-30">
        <div class="col-12 padded">
        <p class="editable"> When you look deeper into the meanings of these names, they become more apt.  Maud is an old name signifying a “powerful battler”.  Historically Ivy wreaths were presented to couples as a sign of “fidelity and faithfulness”.   My son Nate also holds a special role with Maud and Ivy Flowers as he is in charge of quality control.  Just like me, he has a great eye for detail and he oversees all my work.  Together we are powerful, dependable and devoted to providing great service and work.</p>
      </div>
    </div>
  </section> 

 <!--FATHER  -->
 <section class="dark-gold-text capped-width-lg about-leo bg-image-bg">
    <div class="grid-right-middle capped-width">
        <div class="col-6_sm-12 grid-middle padded">
          <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.about2_image}}');"></div>      
      </div>   
      <div class="col-6_sm-12 grid-middle text-left padded padded-l-0 padded-sm" >
        <div class="col-12 "data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
            <p class="editable">My father was a creative man, being one of the Gold Coast’s leading sign writers and sign makers and an artist entertaining people with his humorous sketches.  Until now, nobody has followed in his creative footsteps.  I decided to completely change direction in life due to injury and believe it has been a blessing and I have found what I am meant to do. </p>
        </div>
    </div>
</section> 

<!-- LEO -->
<section class="dark-gold-text padded-b padded-0-sm">
  <div class="grid-middle capped-width ">
    <div class="col-12 padded padded-t-0" >      
      <div class="padded padded-b-1 padded-0-sm">
        <p class="editable">Creating gives me great pleasure.  Handing over beautiful work for any occasion is very satisfying.  Contemplating how I can make each and every arrangement more personal is essential to my process. I pride myself on taking </p> 
      </div>  
      <h3 class="text-center">  
          <em class="kontiki capitalise text-large"> <span class="editable">thoughtful</span> </em> 
          <br> 
          <span class="editable">to the next level.</span>
      </h3>
    </div>
  </div>
</section>  
<!--ABOUT  -->
<section class="dark-gold-text" >
  <div class="grid-right-middle flex-flip-sm capped-width">
    <div class="relative col-6_sm-12 grid-middle text-left" >    
      <div class="col-12 absolute card-leo static-sm" >
        <div class="stone-color grid-middle tall-30">
          <div class="col-12 card-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" >
            <p class="editable">Our new logo “Leo” the lion was my creation.  Leo encompasses who I am and where I want my work to go.</p>
            <h3 class="padded-1 padded-b-0 text-center">
                <span class="editable">bold,</span><br>
                <em class="kontiki capitalise text-medium"><span class="editable">unmistakable</span></em> <br>               
                <span class="editable padded-b-1"> and couragous. </span>
            </h3>   
          </div>
        </div>        
      </div>  
    </div>    
    <div class="col-6_sm-12 grid-top padded-r-2 padded-sm" >
      <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.leo_image}}');"></div>      
  </div>  
  </div>   
</section>  

<!-- SIGN OFF -->
<section class="dark-gold-text">
    <div class="grid capped-width padded-t-sm">
        <div class="col-12 padded">
            <p class="editable"> The image as a whole embraces our beginnings, my beautiful Ivy and our strength, passion and charisma.  My business is in its infancy with planning and development a constant work in progress.    My ambitious nature doesn’t allow me to settle on any one thing.  I constantly want to improve every element that I present to the world.</p>
            <p class="editable padded-t-sm">We aim to provide personalised service resulting in stylish and extraordinary work for all occasions.</p>
            <p class="kontiki text-large text-right padded-r-2">
              <span class="editable">Monique, Nate & Ivy x</span>
            </p>            
        </div>

    </div>
</section>


<!-- Socials-->
<section class=" padded ivy-text padded-b-2-xs padded-t-2-xs dark-gold-text">
  <div class="capped-width grid-middle tall-10">
    <div class="col-12 text-center ">
      <h3 class="editable">Contact us.</h3>
      <div class="col-12-center padded-b-2">
        <a href="/enquiry.html/#enquiry" target="_blank" class="button  ">
          Enquiry
        </a>
        <a href="/enquiry.html/#order-request" target="_blank" class="button  ">
          Order Request
        </a>
      </div>    
    </div>
  </div>
</section>           
<!--Gallery  -->
{% include gallery-section.html %}