---
layout: default
title: About Us
header_color: pink-color
header_image: /images/flowers-1.jpg
header-background-position:

about_image: 
about-background-position:
about2_image: /images/flowers-2.jpg
about-background-position:
leo_image: /images/flowers-1.jpg
about-background-position:

family:
  - portrait_image: /images/flowers-7.jpg
    bg-pos:
    name-caption: Ivy - Inspiration
  - portrait_image: /images/event.jpg
    bg-pos:
    name-caption: Monique
  - portrait_image: /images/flowers-7.jpg
    bg-pos:
    name-caption: Nate - Quality Control
father:
  - portrait_image: /images/event.jpg
    name-caption: Monique
  - portrait_image: /images/event.jpg
    name-caption: Monique
---

<!--Header  -->
{% include header-section.html %}
 <!--DAUGHTER  -->
 <section class="dark-gold-text">
  <div class="grid-right-middle capped-width">
    <div class="col-12 grid padded padded-0-xs">
      <h2 class=" text-normal padded-2-xs">
        <span class="editable">Our Foundations.</span>  
      </h2>
      <div class="col-12 padded-2">
        
        <p class="editable"><span class="kontiki text-large">Maud and Ivy,</span> <br> what does it mean and who are we?</p>
        <p class="editable"><strong>Maud</strong> is a nickname I have had since childhood and Ivy is my daughter’s name and also a beautiful plant I like to work with.  The name just seemed like a beautiful choice to me.</p> 
        <p class="editable"> When you look deeper into the meanings of these names, they become more apt.  Maud is an old name signifying a <strong>“powerful battler”.</strong> Historically Ivy wreaths were presented to couples as a sign of <strong>“fidelity and faithfulness”.</strong></p>
        <p class="editable">My son Nate also holds a special role with Maud and Ivy Flowers as he is in charge of quality control.  Just like me, he has a great eye for detail and he oversees all my work.  Together we are powerful, dependable and devoted to providing great service and work.</p>            
      </div>
    
    </div>
    <div class=" col-12 grid padded-1 padded-r-0-md" >
      <div class="col-12 grid horizontal-scroll-md gallery">
        {% for item in page.family %}
        <div class="col-4_md-5_sm-9_xs-11">
          <div class="bg-image bg-overlay square" style="background-image: url('{{item.portrait_image}}'); background-position: '{{item.bg-pos}}';"></div>
          <p class="padded-t-05 margin-b-0"><em>{{item.name-caption}}</em></p>
        </div>
        {% endfor %}
      </div>        
    </div>
  </div>
</section> 


<section class="dark-gold-text">
  <div class="grid-right-middle  capped-width">
    <div class="col-12 grid padded padded-b-0 padded-0-xs ">
      <div class="col-12_sm-12 padded-2 padded-b-0" >
          <p class="editable">My real name is Monique and I was born on the Gold Coast in 1971 and have enjoyed living here my entire life. My father who migrated from Holland was a creative man and one of the Gold Coast's leading sign writers and sign makers in the 1970s-1990s [check dates]. He loved to entertain people with his humorous sketches. </p>
      </div> 
      <div class="col-12 padded-2 padded-t-1" >      
          <p class="editable">Until now, nobody has followed in his creative footsteps. I recently decided to change direction in life due to injury and believe it has been a blessing in that I have now found my vocation. Creating gives me great pleasure. Handing over beautiful work for any occasion is very satisfying. Contemplating how I can make each and every arrangement more personal is essential to my process. I pride myself on taking </p>
        <h3 class=" padded text-center">  
            <em class="kontiki capitalise text-large"><span class="editable">thoughtful</span> </em> 
            <br> 
            <span class="editable">to the next level.</span>
        </h3>
      </div>
    </div>    
    <div class="col-12 grid padded-l-1 horizontal-scroll-md padded-r-1 padded-r-0-md gallery" >
      {% for item in page.father %}
        <div class="col-6_sm-9_xs-11">
          <div class="bg-image bg-overlay square" style="background-image: url('{{item.portrait_image}}'); "></div>
          <p class="padded-t-05"><em>{{item.name-caption}}</em></p>
        </div>
        {% endfor %}
    </div>  
      
  </div>
</section> 

<section class="dark-gold-text padded-b-10">
  <div class="grid-right-middle padded-2 capped-width">
    <div class="col-12 grid padded-lr padded-0-xs">
      <div class="col-12">
        <p class="margin-b-0 editable">Our new logo “Leo” the lion was my creation.  Leo encompasses who I am and where I want my work to go.</p>
      </div>
      <div class="col-12 grid-center">
        <div class="col-12  padded-2-xs padded-b-0-xs">      
          <h3 class="text-center">
            <span class="editable">bold,</span>
            <em class="kontiki capitalise text-medium"><span class="editable">unmistakable</span></em> 
            <span class="editable padded-b-1"> and couragous. </span>
          </h3> 
        </div>        
        <div class="col-6_sm-10_xs-12 padded-b-2-xs">
          <img class="" src="/images/maud-and-ivy-white.png" > 
        </div>        
      </div>
     
      <div class="col-12">
          <p class="editable"> The image as a whole embraces our beginnings, my beautiful Ivy and our strength, passion and charisma. My business is in its infancy with planning and development a constant work in progress. My ambitious nature doesn't allow me to settle on any one thing. I constantly want to improve every element that I present to the world.</p>
      </div>      
    </div>

  </div>
</section> 



<section class=" stone-color dark-gold-text">
  <div class="grid capped-width padded-2  sm-thoughtful">
      <div class="col-12 padded padded-0-xs">
        <h2>What We Do</h2>
        <h4 class="text-bold text-medium">Gold Coast Retail, Wedding and Event Florist.</h4>
          <p class="editable"> Do you have a special someone you want to surprise? Do you have an event you want to commemorate or celebrate? Are planning a wedding?  Are you interstate, overseas or lack the time to drive around to retail shops? Do you want something that is special and unique? Are you driven by value not price? Do you appreciate details and like to plan ahead a little? If you can trust us to convey your wishes, then you're our customer!</p>
          <p class="editable padded-t-sm">We aim to provide personalised service resulting in stylish and extraordinary work for all occasions. We want you to feel good about your investment so we ask a few questions to make sure we understand your needs!</p>
          <p class="editable"><strong>Give us a go!</strong> All the others who gave us a go, came back for more.</p>
          <p class="kontiki text-large text-right padded-r-2 padded-0-sm text-center-sm">
            <span class="editable">Monique, Nate & Ivy x</span>
          </p>            
      </div>

  </div>
</section>

<!-- How to Order-->
<section class=" padded ivy-text sm-thoughtful dark-gold-text">
  <div class="capped-width grid-middle tall-10 padded padded-b-0 padded-0-xs about-social">
    <div class="col-12 text-center ">
      <h2 class="editable">How to Order</h2>
      <p class="editable">No matter how you place your order we will require all details as set out in our online <a href="/enquiry/#order-request">ORDER REQUEST</a> form.  Use this form as a guide if you decide to call or text us with your order.  We find it much simpler to use the online Order Request form as often we are busy and cannot respond to you immediately.  We take time to curate and create beautiful florals and offerings and require as much notice as you can give.
      </p>      
      <!-- phone and email -->
      <div class="grid  col-12">
        <div class="col-12 hide-xxs ">
          <span class="inline-block padded-r-1 padded-0-sm break-sm">
            <p class="inline-block">
              <span class="editable text-bold margin-r-05 break-xs">Call or Text:</span> 
              <a class="subtle break-sm margin-b-0" href="Tel:{{site.data.contact-info.contact_number}}" target="_blank">
                {{site.data.contact-info.contact_number}}</a>
            </p>        
          </span>
          <span class="inline-block ">
            <p class="inline-block">
              <span class="editable text-bold margin-r-05">Email:</span> 
              <a class="subtle break-sm"  href="mailto:{{site.data.contact-info.contact_email}}" target="_blank">{{site.data.contact-info.contact_email}}</a> 
            </p>             
          </span>   
        </div>
        <div class="col-12 show-xxs">
          <p class="text-bold margin-b-0">
            <a class="text-bold" href="Tel:{{site.data.contact-info.contact_number}}" target="_blank">Call,</a>
            <a class="text-bold " href="Tel:{{site.data.contact-info.contact_number}}" target="_blank">Text</a> or
            <a class="text-bold"  href="mailto:{{site.data.contact-info.contact_email}}" target="_blank">Email</a> 
          </p>
        </div>
        <!-- Direct msg -->
        <div class="col-12 padded-t-1">          
<!--           <span class=" show-xxs padded-b-1">
              <span class="editable text-bold margin-r-05">Call, Text or Email:</span></p> 
              <a href="Tel:{{site.data.contact-info.contact_number}}" target="_blank"><i class="fa-solid fa-phone"></i></a>
              <a  href="mailto:{{site.data.contact-info.contact_email}}" target="_blank"><i class="fa-solid fa-envelope"></i></a>  
          </span>    -->
          <p class="text-bold "> <span class="editable"></span> Direct Message via:</p>                         
            <a class="social" href="{{site.data.contact-info.instagram_href}}" target="_blank"><i class="fab fa-instagram"></i></a>   
            <a class="social" href="{{site.data.contact-info.facebook_href}}" target="_blank"><i class="fab fa-facebook"></i></a> 
            <a class="social" href="{{site.data.contact-info.whatsapp_number}}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a> 
        </div>   
        <!-- xxxsm -->      
        <div class="col-12-center padded-b-2 padded-t-2">
          <a href="/enquiry/#enquiry" target="_blank" class="button  ">
            Enquiry
          </a>
          <a href="/enquiry/#order-request" target="_blank" class="button  ">
            Order Request
          </a>
        </div>         
      </div>
    </div>
  </div>
</section>           
<!--Gallery  -->
{% include gallery-section.html %}
 
 <!--DAUGHTER 
<section class="dark-gold-text capped-width-lg about-pg bg-image-bg padded-t padded-0-sm">
    <div class="grid-right-middle capped-width">
      <div class="col-6_sm-12 grid-middle text-left padded padded-r-0 padded-0-sm" >
        <div class="col-12 sm-thoughtful padded-t-2-sm padded-b-0-sm">
          <h2 class="padded-b-2 text-normal">
            <span class="editable">Our Foundations.</span>  
          </h2>
          <p class="editable"><span class="kontiki text-large">Maud and Ivy,</span> <br> what does it mean and who are we?</p>
          <p class="editable"><strong>Maud</strong> is a nickname I have had since childhood and Ivy is my daughter’s name and also a beautiful plant I like to work with.  The name just seemed like a beautiful choice to me.</p> 
        </div>
      </div>
      <div class="col-6_sm-12 grid-middle padded">
          <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.about_image}}');"></div>      
      </div> 
  </section> 

  <section class="stone-color dark-gold-text overflow">
    <div class="capped-width grid-middle tall-30">
        <div class="col-12 padded padded-4-2-sm" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
        <p class="editable"> When you look deeper into the meanings of these names, they become more apt.  Maud is an old name signifying a <strong>“powerful battler”.</strong> Historically Ivy wreaths were presented to couples as a sign of <strong>“fidelity and faithfulness”.</strong></p>
        <p class="editable">My son Nate also holds a special role with Maud and Ivy Flowers as he is in charge of quality control.  Just like me, he has a great eye for detail and he oversees all my work.  Together we are powerful, dependable and devoted to providing great service and work.</p>           
      </div>
    </div>
  </section>  -->

 <!--FATHER  
 <section class="dark-gold-text capped-width-lg about-leo bg-image-bg">
    <div class="grid-right-middle capped-width">
        <div class="col-6_sm-12 grid-middle padded">
          <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.about2_image}}');"></div>      
      </div>   
      <div class="col-6_sm-12 grid-middle text-left padded padded-l-0 padded-sm" >
        <div class="col-12 ">
            <p class="editable">My father was a creative man, being one of the Gold Coast’s leading sign writers and sign makers and an artist entertaining people with his humorous sketches.  Until now, nobody has followed in his creative footsteps.  I decided to completely change direction in life due to injury and believe it has been a blessing and I have found what I am meant to do. </p>
        </div>
    </div>
</section> -->

<!-- LEO 
<section class="dark-gold-text padded-b padded-0-sm">
  <div class="grid-middle capped-width ">
    <div class="col-12 padded padded-t-0" >      
      <div class="padded padded-b-1 padded-0-sm">
        <p class="editable">Creating gives me great pleasure.  Handing over beautiful work for any occasion is very satisfying.  Contemplating how I can make each and every arrangement more personal is essential to my process. I pride myself on taking </p> 
      </div>  
      <h3 class="text-center">  
          <em class="kontiki capitalise text-large"> <span class="editable">thoughtful</span> </em> 
          <br> 
          <span class="editable">to the next level.</span>
      </h3>
    </div>
  </div>
</section>  -->
<!--ABOUT  
<section class="dark-gold-text overflow" >
  <div class="grid-right-middle flex-flip-sm capped-width">
    <div class="relative col-6_sm-12 grid-middle text-left" >    
      <div class="col-12 absolute card-leo static-sm" >
        <div class="stone-color grid-middle tall-30">
          <div class="col-12 card-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" >
            <p class="editable">Our new logo “Leo” the lion was my creation.  Leo encompasses who I am and where I want my work to go.</p>
            <h3 class="padded-1 padded-b-0 text-center">
                <span class="editable">bold,</span><br>
                <em class="kontiki capitalise text-medium"><span class="editable">unmistakable</span></em> <br>               
                <span class="editable padded-b-1"> and couragous. </span>
            </h3>   
          </div>
        </div>        
      </div>  
    </div>    
    <div class="col-6_sm-12 grid-top padded-r-2 padded-sm" >
      <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.leo_image}}');"></div>      
  </div>  
  </div>   
</section>  

 SIGN OFF 
<section class="dark-gold-text">
    <div class="grid capped-width padded-t-sm">
        <div class="col-12 padded">
            <p class="editable"> The image as a whole embraces our beginnings, my beautiful Ivy and our strength, passion and charisma.  My business is in its infancy with planning and development a constant work in progress.    My ambitious nature doesn’t allow me to settle on any one thing.  I constantly want to improve every element that I present to the world.</p>
            <p class="editable padded-t-sm">We aim to provide personalised service resulting in stylish and extraordinary work for all occasions.</p>
            <p class="kontiki text-large text-right padded-r-2 padded-0-sm text-center-sm">
              <span class="editable">Monique, Nate & Ivy x</span>
            </p>            
        </div>

    </div>
</section>
-->
