---
layout: default
title: Enquiry
header_color: pink-color
header_image: /images/flower3.jpg
header-background-position:
header-title: Enquiry Form.
header-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptates cum ipsa explicabo, quos temporibus neque nisi eveniet ad ex voluptatibus, alias dolores voluptas! Qui amet sapiente cum tempora. Eveniet?

enquiry_image: /images/icons-flower-watercolour.png
enquiry-background-position:

occasion:
  - option: Wedding
  - option: Engagement
  - option: Anniversary
  - option: Birthday
  - option: Baby
  - option: Graduation
  - option: Condolences

budget:
  - option: $80  
  - option: $100  
  - option: $120  
  - option: $150  
  - option: $200  

colour-scheme:
  - option: Pink & White
  - option: Pastels
  - option: Green & White
  - option: Punchy

blooms: 
  - option: Seasonal
  - option: Native
  - option: Seasonal/Native Mix
  - option: Dried/Preserved

vases:
  - option: Glass
  - option: White Ceramic
  - option: Pink Ceramic
  - option: Hat Box White
  - option: Hat Box Pale Pink
  - option: Hat Box Neutral
  - option: Cylinder Box White
  - option: Cylinder Box Pale Pink
  - option: Cylinder Box Pale Blue
  - option: Cylinder Box Black
 
our-creations:
  - option:
  - option:

delivery:
  - option: Next Day Delivery
  - option: Option
---

<!--Header  -->
{% include header-section.html %}

  
 
<!-- Contact -->
<section class="noSelect dark-gold-text">
    <div class="padded-lr contact">
        <div class="capped-width grid ">
        <!-- RIGHT COLUMN -->
            <div class="col-6_md-7_sm-12 padded padded-b-0-sm grid">
                <h2 class="editable">Enquiry</h2>
                <p class="editable subtle">Use this enquiry form to give us some preliminary information about your upcoming floral needs.</p>
            <!-- FORM -->
                <form class="col-12 " name="maud-and-ivy" data-netlify="true" action="/success.html" method="post">
                <!-- YOUR DETAILS -->
                    <div class="grid">    
                        <div class="col-12 padded-t-1">
                            <h4 class="">Your Details.</h4>
                            <input type="text" name="_name" id="_name" placeholder="Your Name" required>
                            <input type="email" name="_replyto" id="_replyto" placeholder="Your Email" required="">                           
                        </div>                        
                        <div class="col-12 padded-b">
                            <label for="message">
                                <h4>Message</h4>
                            </label>
                            <textarea name="message" class="input-text" required></textarea>   
                        </div>  
                        <div class="col-12 padded-tb">                            
                            <button type="submit"  value="Send Request"> Submit </button>   
                        </div>
                    </div>  
                                        
                </form>
            </div>
        <!-- Left column -->
            <div class="col-5_sm-7_xs-9 grid-bottom padded-1 padded-l-0 padded-2-sm padded-t-0-sm padded-l-0-sm">
                <div class="col-12 bg-image {{page.enquiry-background-position}} square" style="background-image: url('{{page.enquiry_image}}');"></div>      
            </div> 

        </div>
    </div> 
</section>
<!-- Contact -->
<section class=" noSelect dark-gold-text">
    <div class="padded padded-t-0 contact">
        <div class="capped-width grid  flex-flip-sm">
        <!-- RIGHT COLUMN -->
            <div class="col-12 padded grid">
                <h2 class="editable">Order Requests</h2>
                <p class="editable subtle">Use this form if you are ready to request an order, complete all boxes and you will then be sent a Tax Invoice for Payment prior to your order being created. Delivery Fees are charged per suburb and will be added to your requested budget.  (this wording will be honed before launch).</p>
            <!-- FORM -->
                <form class="col-12 " name="maud-and-ivy-order-request" data-netlify="true" action="/success.html" method="post">
                    <input type="hidden" name="subject" value="Order Requests" />
                <!-- YOUR DETAILS -->
                    <div class="grid">    
                        <!-- nAME eMAIL -->
                        <div class="col-12 grid">
                            <div class="col-12 padded-t-1">
                                <h4 class="editable">Your Details.</h4>
                            </div>
                           
                            <div class="col-6_sm-12 padded-r-1 padded-0-sm">
                                <input type="text" name="_name" id="_name" placeholder="Your Name" required>
                            </div>
                            <div class="col-6_sm-12 padded-l-1 padded-0-sm">
                                <input type="email" name="_replyto" id="_replyto" placeholder="Your Email" required="">                    
                            </div>    
                        </div>    
                        <!-- oCCASION -->
                        <div class="col-6_sm-12 padded-r-1 padded-0-sm">
                            <label for="occasion">
                                <h4 class="editable">Occasion</h4>
                            </label>
                            <input list="type-occasion" id="occasion" name="occasion" placeholder="Your Occasion">
                            <datalist id="type-occasion">
                                {% for item in page.occasion %}
                                <option>{{item.option}} one</option> 
                                {% endfor %}  
                            </datalist>                            
                        </div>
                        <!-- BUDGET -->
                        <div class="col-6_sm-12 padded-l-1 padded-0-sm">
                            <label for="budget">
                                <h4 class="editable">budget</h4>
                            </label>
                            <input list="type-budget" name="budget" id="budget" placeholder="Your Budget">
                            <datalist id="type-budget">                        
                                {% for item in page.budget %}
                                <option>{{item.option}}</option> 
                                {% endfor %}  
                            </datalist>                            
                        </div>
                        <!-- COLOURS -->
                        <div class="col-6_sm-12 padded-r-1 padded-0-sm">
                            <label for="colour-scheme">
                                <h4 class="editable">Colour Scheme</h4>
                            </label>
                            <input list="colour-scheme" name="type-colour-scheme" placeholder="Something else?" >
                            <datalist id="colour-scheme">                      
                            {% for item in page.colour-scheme %}
                                <option>{{item.option}}</option>
                            {% endfor %} 
                            </datalist> 
                        </div>
                        <!-- BLOOMS -->
                        <div class="col-6_sm-12 padded-l-1 padded-0-sm">
                            <label for="blooms">
                                <h4 class="editable">Blooms</h4>
                            </label>
                            <select id="blooms">
                            {% for item in page.blooms %}
                                <option>{{item.option}}</option>
                            {% endfor %}                                 
                            </select>
                        </div>
                        <!-- No custom / VASES-->
                        <div class="col-6_sm-12-bottom padded-r-1 padded-0-sm" >
                            <label for="vase">
                                <h4 class="editable">Add Vase</h4>
                                <p class="subtle"><span class="editable">Choose a vase</span></p>
                            </label>
                            <select id="vase">                            
                            {% for item in page.vases %}
                                <option>{{item.option}}</option>
                            {% endfor %} 
                            </select> 
                        </div>
                        <!-- OUR CREATIONS -->
                        <div class="col-6_sm-12 padded-l-1 padded-0-sm">
                            <label for="our-creations">
                                <h4 class="editable">Inspiration provided by Our Creations</h4>
                                <p class="subtle"><span class="editable">Choose a number</span></p>
                            </label>
                            <select id="our-creations">
                            {% for item in page.our-creations %}
                                <option>{{item.option}} one</option> 
                            {% endfor %}                             
                            </select> 
                        </div>
                        <!-- MESSAGE -->
                        <div class="col-12 padded-b-2">
                            <label for="message">
                                <h4>Message</h4>                            
                                <textarea class="input-text" required></textarea>
                            </label> 
                        </div>

                        <!-- rECIPIENT DETAILS -->
                        <div class="col-12 grid padded-t-2">
                            <div class="col-12">
                                <h4 class="editable">Recipient Details.</h4>            
                            </div>  
                            <div class="col-6_sm-12 padded-r-1 padded-0-sm">
                                <input type="text" name="_name" placeholder="Recipient Name" required>
                            </div>
                            <div class="col-6_sm-12 padded-l-1 padded-0-sm">
                                <input type="tel" name="phone-no" id="phone-no" placeholder="Recipient Mobile Number" required>                        
                            </div>                            
                            <div class="col-12 padded-b-1">
                                <input  placeholder="Recipient Address">
                            </div>

                            <!-- delivery -->
                            <div class="col-6_sm-12 padded-r-1 padded-0-sm">
                                <label for="delivery">
                                    <h4 class="editable">Next Day Delivery or Collect </h4>
                                </label>                            
                                <select id="delivery">
                                    {% for item in page.delivery %}
                                    <option>{{item.option}}</option>  
                                    {% endfor %}                  
                                </select> 
                            </div>
                            <!-- FIX -->
                            <div class="col-6_sm-12 padded-l-1 padded-0-sm padded-t-1-sm">
                                <h4 class="editable">REQUEST TAX INVOICE NOW</h4>
                                <label class="container" > Yes
                                    <input type="checkbox" name="budget" value="100" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div> 
                            <!-- Special Requests or Delivery Instructions -->
                            <div class="col-12 padded-t-1-sm">
                                <label for="special-request">
                                    <h4 class="editable">Special Requests or Delivery Instructions</h4>                            
                                    <textarea class="input-text"></textarea>
                                </label> 
                            </div>
                        </div>   
                        <!-- SUBMIT -->
                        <div class="col-12 padded-tb">                            
                            <button type="submit"  value="special-request"> Submit </button>   
                        </div>
                    </div>         
                </form>
            </div>
        </div>
    </div> 
</section>
