---
layout: default
title: Gallery
header_color: pink-color
header_image: /images/maud-and-ivy-colour.png

header_image: /images/flowers-9.jpg
header-background-position: 50% 60%
header-title: Our Creations.
header-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptates cum ipsa explicabo, quos temporibus neque nisi eveniet ad ex voluptatibus, alias dolores voluptas! Qui amet sapiente cum tempora. Eveniet?

thoughtful_image: /images/event.jpg

filter-buttons:
  - filter-type: Seasonal
  - filter-type: Natives
  - filter-type: Dried/Preserved
  - filter-type: Pink/White
  - filter-type: Green/White
  - filter-type: Pastels

gallery:
  - number: 1
    type: dried/preserved pastels
    background_image: /images/flowers-1.jpg
    title: Flower 1
    alt: 
  - number: 2
    type: Seasonal
    background_image: /images/flowers-2.jpg
    bg-pos:
    title: Flower 1
    alt: 
  - number: 3
    type: pastels
    background_image: /images/flowers-3.jpg
    bg-pos:
    title: Flower 2
    alt: 
  - number: 4
    type: pastels
    background_image: /images/flowers-4.jpg
    bg-pos:
    title: Flower 2
    alt: 
  - number: 5
    type: pastels
    background_image: /images/flowers-5.jpg
    bg-pos:
    title: Flower 1
    alt: 
  - number: 6
    type: pastels
    background_image: /images/flowers-6.jpg
    bg-pos:
    title: Flower 1
    alt: 
  - number: 7
    type: pastels
    background_image: /images/flowers-7.jpg
    bg-pos:
    title: Flower 3
    alt: 
  - number: 8
    type: dried/preserved green/white
    background_image: /images/flowers-8.jpg
    bg-pos:
    title: Flower 3
    alt: 
  - number: 9
    type: dried/preserved pink/white
    background_image: /images/flowers-9.jpg
    bg-pos:
    title: Flower 2
    alt: 
  - number: 10
    type: natives pastels
    background_image: /images/flowers-10.jpg
    bg-pos:
    title: Flower 2
    alt: 
  - number: 11
    type: natives pastels
    background_image: /images/flowers-10.jpg
    bg-pos:
    title: Flower 2
    alt: 
  - number: 12
    type: natives pastels
    background_image: /images/flowers-10.jpg
    bg-pos:
    title: Flower 2
    alt: 
      
---

<!--Header  -->
{% include header-section.html %}



<!-- gallery  -->

<section class="padded gallery-pg bg-image-bg tall-50 capped-width-lg">  
  <div class="capped-width">
    <div class="portfolio-filter text-center ivy-text padded-b-1 padded-b-2-xs" id="portfolio-filter">
      <span>ALL</span>
      {% for item in page.filter-buttons %}       
      <span>{{item.filter-type | remove: " "  }}</span> 
      {% endfor %}
    </div>

    
    {% include gallery.html %}

  </div>
</section>