---
layout: default
top-arrow: true
title: Gallery

banner_image: /images/maud-and-ivy-gallery-header.jpg
banner-background-position: 50% 60%
banner-landscape_image: /images/maud-and-ivy-gallery-header-landscape.jpg
banner-landscape-background-position: 50% 60%

header-title: Creative Gallery
header: 
  - sub-header: Our Creations
    description: have been described as stunning, breathtaking, unique, brilliant, evocative, beautiful, perfect and incredible.
  - sub-header: Our creator
    description: has been described as talented, gifted, naturally beautiful, transparent, successful, particular, professional and friendly.
  - sub-header: Our Aim
    description: is to make you and your guests say WOW!

filter-buttons:
  - filter-type: Natives
  - filter-type: Dried/Preserved
  - filter-type: Pink/White
  - filter-type: Blue/White
  - filter-type: Green/White
  - filter-type: Pastels
  - filter-type: Bold/Punchy
  - filter-type: Vases/Boxes
gallery:
  - number: 1
    type: dried/preserved pastels
    background_image: maud-and-ivy-flowers-1.jpg
    bg-pos:
  - number: 2
    type: Seasonal
    background_image: maud-and-ivy-flowers-2.jpg
    bg-pos:
  - number: 3
    type: pastels
    background_image: maud-and-ivy-flowers-3.jpg
    bg-pos:
  - number: 4
    type: pastels
    background_image: maud-and-ivy-flowers-4.jpg
    bg-pos:
  - number: 5
    type: pastels
    background_image: maud-and-ivy-flowers-5.jpg
    bg-pos:
  - number: 6
    type: pastels
    background_image: maud-and-ivy-flowers-6.jpg
    bg-pos:
  - number: 7
    type: pastels
    background_image: maud-and-ivy-flowers-7.jpg
    bg-pos:
  - number: 8
    type: dried/preserved green/white
    background_image: maud-and-ivy-flowers-8.jpg
    bg-pos:
  - number: 9
    type: dried/preserved pink/white
    background_image: maud-and-ivy-flowers-9.jpg
    bg-pos:
  - number: 10
    type: natives pastels
    background_image: maud-and-ivy-flowers-10.jpg
    bg-pos:
  - number: 11
    type: natives pastels
    background_image: maud-and-ivy-flowers-11.jpg
    bg-pos:
  - number: 12
    type: natives pastels
    background_image: maud-and-ivy-flowers-12.jpg
    bg-pos:
---

<section class="dark-gold-text  padded-header-card"  >
  <div class="grid" >
      <div class="col-12 bg-image tall-60 gallery-banner-image "></div>      
  </div>    
  <!-- Creative gallery -->
  <div class="capped-width relative grid-right">
    <div class="col-7_md-9_sm-12 grid-bottom text-left absolute static-sm  header-card">   
    <div class="col-12 stone-color  grid-middle ">
      <div class="col-12 card-text">
        <h2 class="editable">Creative <span class="kontiki capitalise">Gallery</span> </h2>
        {% for item in page.header %}
        <p>
          <span class="uppercase text-bold editable">{{item.sub-header}}</span>
          <span class="editable">{{item.description}}</span> 
        </p> 
        {% endfor %} 
      </div>
    </div>       
  </div>      
</section> 
<style> 
  .gallery-banner-image     { 
    background-image: url('{{page.banner_image}}'); 
    background-position: {{page.header-background-position}}; 
  }
  @media(orientation: landscape) {
     .gallery-banner-image  { 
      background-image: url('{{page.banner-landscape_image}}');
      background-position: {{page.header-landscape-background-position}}; 
    } 
  }
</style> 

<!-- gallery  -->
<section class="padded-lr gallery-pg bg-image-bg tall-50 capped-width-lg">  
  <div class="capped-width">
    <div class="portfolio-filter text-center ivy-text padded-b-1 padded-b-2-xs" id="portfolio-filter">
      <span>ALL</span>
      {% for item in page.filter-buttons %}       
      <span>{{item.filter-type | remove: " "  }}</span> 
      {% endfor %}
    </div>
    {% include gallery-images.html %}
  </div>
</section>

<!-- Order-->
{% include request-order.html %}


<!-- SEASONAL CATALOGUE -->
{% assign sorted-seasons = site.seasons | sort: "title" %}
<!-- Menu -->
<section class="stone-color dark-gold-text" id="events-gallery">
  <div class="grid capped-width padded-tb">
      <div class="col-12 grid-middle padded">
          <div class="col-12 text-center padded-b-2">
            <h2>Events <span class="kontiki capitalise">Catalogue</span></h2>
          </div>          
          <div class="col-12 grid">
            {% for season in sorted-seasons  %}
            <div class="col-4_sm-6_xs-12 season-list">
            <a class="capitalise" href="/gallery/#{{season.title | slugify }}"><span class="padded-r-1 ">&#8226;</span> {{season.title }}</a>
            </div>
            {% endfor %}
          </div>
      </div>
  </div>
</section>

{% for season in sorted-seasons  %}
<section class="padded-lr padded-t  dark-gold-text">
  <div class="capped-width grid">      
    <div class="col-12 grid" id="{{season.title | slugify}}">
      <div class="col-5_sm-12-middle padded-2-sm text-center-sm">
          <h3 class="text-medium">{{season.title}}</h3>
      </div>
      <div class="col-7_sm-12 grid">
          <div class="col-12 grid-center seasonal-gallery dark-gold-text" id="xmas">    
              {% for item in season.gallery %}
              <div href="/images/{{season.title | truncatewords: 1 | slugify | remove: '-' }}/{{item.background_image}}" class="gallery-item {{item.col}}  relative">
                  <div class="bg-image {{item.aspect}} " style="background-image: url('/images/{{season.title | truncatewords: 1 | slugify | remove: '-' }}/{{item.background_image}}'); background-position: {{item.bg-pos}};">
                  </div>
              </div>
              {% endfor %}
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

<!-- Order-->
{% include request-order.html %}