---
layout: default
title: Homepage
header-text: 
banner-text: dark-text
text-main: 
header_image: /images/flower1.jpg
header-background-position: bg-pos-t
curved_image: /images/event.jpg
curved-background-position: bg-pos-l
circle_image: /images/wedding.jpg
circle-background-position: bg-pos-l
banner_image: /images/socks.jpg
banner-background-position: bg-pos-l

selling-points:
  - selling-point: Premium Flowers
    icon-image: /images/icons/flower.svg
    icon-alt:
    more-info: And Gifts
  - selling-point: Delivery Options
    icon-image:
    icon-alt:
    more-info: Free shipping
  - selling-point: Gold Coast Area
    icon-image:
    icon-alt:
    more-info: Same day delivery

notification:
  - note: Halloween Stock out now
  - note: See our Instagram

gallery:
  - column-size: col-4
    aspect-ratio: portrait-sm
    background_image: /images/flower-champagne.jpg
  - column-size: col-4
    aspect-ratio: portrait-sm
    background_image: /images/flower3.jpg
    bg-pos:
  - column-size: col-4
    aspect-ratio: portrait-sm
    background_image: /images/flower2.jpg
    bg-pos:
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/flower1.jpg
    bg-pos:
      
---
<!-- HEADING BANNER IMAGE -->
<section>
  <div class="grid heading">
    <div class="grid col-12 border-b bg-image tall-70 {{page.header-background-position}}" style="background-image: url('{{page.header_image}}'); ">
      <div class="col-12 grid capped-width relative">
        <div class="col-12-middle padded-2">
          <h1>Maud and Ivy</h1>          
        </div>    
        <!-- Circle small -->
        <div class="large grid-center absolute z-index">
          <div class="col-12 bg-footer-color circle">       
          </div>   
          <h3 class="col-12-middle text-center light-text absolute">Events</h3>
        </div>   
        <!-- Circle Large -->
        <div class="small grid-center absolute z-index">
          <div class="col-12 bg-footer-color circle">       
          </div>   
          <h3 class="col-12-middle text-center light-text absolute">Weddings</h3>
        </div> 
      </div>
  
  </div>  
</section>

<!-- SELLING POINTS -->
<section class=" bg-banner-color padded-t-2 padded-b-2">
   <div class="capped-width grid">
    {% for item in page.selling-points %}
      <div class="col-4_xs-12 grid-middle text-center padded-t-1 padded-b-1">
        <div class="col-12 selling-point">
          <img src="/images/icons/flower.svg" alt="{{item.icon-alt}}" width="50px" >
        </div>        
        <div class="col-12 padded-1 padded-b-0">
            <h4 class="margin-b-0">{{item.selling-point}}</h4>
            <p class="margin-b-0">{{item.more-info}}</p>
        </div>
      </div>
      {% endfor %}
   </div>
</section>


<!--Moto  -->
<section class="bg-footer-color padded-b  events curved  relative">
  <div class="grid-right-middle flex-flip-sm padded-l-2 padded-0-sm">
    <div class="col-7_lg-5_sm-12 text-left light-text padded-2-sm capped-width-half margin-r-0" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
      <h2 class="editable">Taking <em>thoughtful</em> <br> to the next level
      </h2>
      <p class="editable"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati labore facilis et voluptate error aperiam harum vel architecto, iste aut laborum fuga deleniti corporis debitis repudiandae sit? Veniam, itaque nulla?</p>

    </div>
    <div class="col-5_lg-7_sm-12 grid-top">
        <div class="col-12 bg-image border-radiusr square {{page.curved-background-position}}" style="background-image: url('{{page.curved_image}}');"></div>      
    </div> 
    <!-- CIRCLE EVENTS -->
    <div class="col-3 grid-left absolute z-index hide-xs">
      <div class="col-12 bg-image circle bg-overlay {{page.circle-background-position}}" style="background-image: url('{{page.circle_image}}');"></div>      
    </div>       
</section>  

<!-- Scroll text -->
<section class="bg-footer-color grid">
  <div class="col-12 grid-left relative">
      {% include text-scroll-notifcation.html %}
    </div>
  </div>
</section> 

<!-- BANNER SECTION -->
<section class="{{page.text-main}} bg-banner-color">
  <div class="grid-middle-center padded-tb-10 capped-width">
    <div class="col-10 padded text-center " >
      <h3 class="editable">About Us</h3>
      <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptates cum ipsa explicabo, quos temporibus neque nisi eveniet ad ex voluptatibus, alias dolores voluptas! Qui amet sapiente cum tempora. Eveniet?</p>
 <!--      {% include buttons.html %} -->
    </div>    
  </div>
</section>

<!-- gallery  -->
<section class="padded main" >
  <div class="capped-width grid">      
      <a href="/gallery" class=" gallery col-12 grid-middle-center relative">
        <div class="button z-index absolute light-text"> Our Flowers</div>
        {% for item in page.gallery %}
        <div class="{{item.column-size}}">
            <div class="bg-image bg-overlay {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}'); background-position: '{{item.bg-pos}}';">
            </div>
        </div>
        {% endfor %}
      </a>
  </div>
</section>

<!-- Socials -->
<section class="padded bg-banner-color1 gold-text">
  <div class="capped-width grid-middle tall-10">
    <div class="col-12 text-center">
      <h3>Visit us here.</h3>
      <div class="col-12-center">
        <a href="{{site.data.contact-info.facebook_href}}" target="_blank" class="button ">
          Instagram
        </a>
        <a href="{{site.data.contact-info.instagram_href}}" target="_blank" class="button ">
          Facebook
        </a>
      </div>         
    </div>
  </div>
</section>


<!-- MAP SECTION -->
<section class="grid-left flex-flip-xs {{page.text-main}} bg-banner-color">
  <div class="col-6_xs-12 grid-middle">
    <div class="col-12 bg-image border-radius tall-80 {{page.banner-background-position}}" style="background-image: url('{{page.banner_image}}');"></div>
  </div>
  <div class="col-6_xs-12 grid-middle capped-width-half margin-l-0">
    <div class="col-12 padded-10"  data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
      <h3>Live.Love.Grow.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, veritatis numquam ad illum incidunt esse, molestias, optio culpa eos rem perferendis veniam. Magnam consequatur dignissimos quaerat velit maxime, debitis labore?</p>      
    </div>
  </div>
</section>


