---
layout: default
title: Homepage
header_color: pink-color
header_image: /images/maud-and-ivy-colour.png
header: hide
slick-slider: true

thoughtful_image: /images/event.jpg
thoughtful-background-position: bg-pos-l


about_image: /images/flowers-4.jpg
about-background-position: bg-pos-l
about-description: Maud and Ivy, what does it mean and who are we? <p>Maud is a nickname I have had since childhood and Ivy is my daughter’s name and also a beautiful plant I like to work with.  The name just seemed like a beautiful choice to me.</p>  <p> When you look deeper into the meanings of these names, they become more apt.  Maud is an old name signifying a “powerful battler”.  Historically Ivy wreaths were presented to couples as a sign of “fidelity and faithfulness”.   My son Nate also holds a special role with Maud and Ivy Flowers as he is in charge of quality control.  Just like me, he has a great eye for detail and he oversees all my work.  Together we are powerful, dependable and devoted to providing great service and work.</p>


selling-points:
  - selling-point: PERSONALISED 
    selling-point-line2: SERVICE
    icon_image: /images/icons-service.png
    icon-alt:
    more-info:
  - selling-point: Premium 
    selling-point-line2: Flowers
    icon_image: /images/icons-flower-dark.png
    icon-alt:
    more-info:
  - selling-point: next day 
    selling-point-line2: delivery
    icon_image: /images/icons-delivery.png
    icon-alt:
    more-info: 

notification:
  - note: Halloween Stock out now
  - note: See our Instagram

recommendations:
  - heading: GC Breeze Radio
    review:  Wow is exactly what I said, more than once when she (Monique) dropped her flowers to me. When I saw the flowers she created I was absolutely blown away. These would be gorgeous as a corporate gift, even just one of those just-because gifts. These flowers lived on my desk for weeks... 
    audio: true
    number: 1
    source: /audio/breeze-radio.mp3
    logo: /images/breeze-radio.png   
  - heading: Micheal from The Mop King
    review: A big thankyou to Monique who I think is the number one  boutique flower business on the Gold Coast. She's gone far and beyond what I need. My mum's the world and I want to say thankyou.
    audio: true
    number: 2
    source: /audio/mop-king.mp3
    logo: /images/breeze-radio.png   
---

<!-- HEADING BANNER IMAGE -->
<section class="relative " style="top:-2px;">
  <div class="grid-middle heading padded-b-2 tall-70 pink-color">
    <div class="col-12 grid-center capped-width">
      <div class="col-8_md-9_sm-12-middle text-center padded padded-t-0" >
        <img src="{{page.header_image}}" alt="{{item.icon-alt}}" >
        <div class="logo" >
          <h1>Maud and Ivy<br><span>Flowers</span></h1>
        </div>        
      </div>            
    </div>
  </div>  
</section>

<!-- SELLING POINTS -->
<section class=" dark-gold-text padded padded-b-0">
   <div class="capped-width grid-middle tall-20">
    {% for item in page.selling-points %}
      <div class="col-4_xs-12 grid text-center padded-1">
        <div class="col-12 selling-point padded-1">
          <img src="{{item.icon_image}}" alt="{{item.icon-alt}}" >
        </div>        
        <div class="col-12 padded-t-1 padded-0-sm">
            <h2 class="margin-b-0 text-little text-bold"><span class="break-md">{{item.selling-point}} </span><span>{{item.selling-point-line2}}</span></h2>
            <p class="margin-b-0">{{item.more-info}}</p>
        </div>
      </div>
      {% endfor %}
   </div>
</section>


<!--Moto  -->
<section class="dark-gold-text capped-width-lg thoughtful-splatter bg-image-bg padded-tb padded-0-sm overflow">
  <div class="grid-right-middle capped-width">
    <div class="col-6_sm-12 grid-middle text-left padded padded-r-0 padded-0-sm" >
      <div class="col-12 sm-thoughtful"data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
        <h3>
          <span class="editable">Taking</span>  
          <br>
          <em class="kontiki capitalise text-large"> <span class="editable">thoughtful</span> </em> 
          <br> 
          <span class="editable">to the next level.</span>
        </h3>
        <p class="editable"> If you have a special someone or event on the Gold Coast, are interstate, overseas or lack the time to drive around, want something that is special and unique, are driven by value not price, appreciate details, like to plan ahead a little and can trust us to convey your wishes, then you're our customer.</p>
       <p>
        We want you to feel good about your investment so we ask a few questions to make sure we understand your needs! </p>
        <p><strong>𝗚𝗶𝘃𝗲 𝘂𝘀 𝗮 𝗴𝗼!</strong> All the others who gave us a go, came back for more.</p>
      </div>
    </div>
    <div class="col-6_sm-12 grid-middle padded hide-sm">
        <div class="col-12 bg-image {{page.thoughtful-background-position}} square" style="background-image: url('{{page.thoughtful_image}}');"></div>      
    </div> 
  </div>   
</section>  

<!--ABOUT  -->
<section class="dark-gold-text padded-b-card padded-0-sm " >
  <div class="grid-right-middle flex-flip-sm capped-width">
    <div class="col-6_sm-12 grid-top padded-l-2 padded-sm" >
        <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.about_image}}');"></div>      
    </div>     
    <div class="relative col-6_sm-12 grid-middle text-left" >    
      <div class="col-12 absolute card static-sm" >
        <div class="stone-color  grid-middle ">
          <div class="col-12 card-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" >
            <h3 class="editable">About Us.</h3>
            <p class="editable">{{page.about-description | truncatewords: 65 }}</p>
            <p class="margin-b-0"><a href="/about-us.html">Read More.</a> </p>
          </div>
        </div>        
      </div>  
    </div>  
  </div> 
</section>  

<!-- RECOMMNENDATIONS -->
<section class="stone-color padded-b-2-sm">
  <div class="grid-center capped-width dark-gold-text padded">    
    
    <div class="col-12 padded-tb padded-0-sm padded-t-2-sm slider-container"> 
      {% for item in page.recommendations %}     
      <div class="slider-item grid">
        <div class="grid-center col-12">
          <!-- QUOTE -->
            <div class="col-1 quote text-right hide-sm">
              <i class="fa-sharp fa-solid fa-quote-left"></i>
            </div>
            <!-- TEXT -->
            <div class="col-10 grid-center padded-1 padded-b-2 padded-t-2 padded-0-sm">          
              <div class="col-12">
                <h3 class="text-center-xs">{{item.heading}}</h3>
                <p >{{item.review}}</p>            
              </div>
            </div>       
            <!-- QUOTE -->
            <div class="col-1-bottom quote hide-sm">
              <i class="fa-sharp fa-solid fa-quote-right"></i>
            </div>   
            <!-- add if statement audio -->
            {% if item.audio == true %}
            <div class="col-10 grid ">
              <div class="col-6_sm-12-middle text-right padded-r-1 text-center-sm padded-l-1 padded-0-sm">
                  {% include audio-player.html %}   
              </div>  
              <div class="col-6_sm-12 padded-l-2 text-center-sm padded-0-sm">
                <img src="{{item.logo}}" width="180px" class="reccomended-logo">
              </div>   
            </div>    
            {% endif %}  
          </div>                 
        </div> 
        {% endfor %}  
    </div>    
  </div>
</section>

<svg class="plyrBtns" style="display:none" aria-hidden="true">
  <symbol class="icon icon-play" id="icon-play" viewBox="0 0 20 20">
    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
  </symbol>
  <symbol class="icon icon-pause" id="icon-pause" viewBox="0 0 20 20">
    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
  </symbol>
</svg>
<!-- Socials-->
<section class=" padded padded-t-10 ivy-text padded-b-2-xs padded-t-4-xs dark-gold-text">
  <div class="capped-width grid-middle tall-10 padded-t-1">
    <div class="col-12 text-center ">
      <h3 class="editable">Visit us.</h3>
      <div class="col-12-center">
        <a href="{{site.data.contact-info.facebook_href}}" target="_blank" class="button  ">
          Facebook
        </a>
        <a href="{{site.data.contact-info.instagram_href}}" target="_blank" class="button  ">
          Instagram
        </a>

      </div>         
    </div>
  </div>
</section> 

<!--Gallery  -->
{% include gallery-section.html %}