---
layout: default
title: Seasonal Gallery
header_image: /images/flowers-1.jpg
header-background-position:

xmas:
  - type: dried/preserved pastels
    background_image: /images/flowers-1.jpg
    aspect: square
    col: col-4 
    title: Flower 1    
    alt: 
  - type: Seasonal
    background_image: /images/flowers-2.jpg
    bg-pos:
    aspect: square
    col: col-4 
    title: Flower 1
    alt: 
  - type: pastels
    background_image: /images/flowers-3.jpg
    bg-pos:
    aspect: square
    col: col-4 
    title: Flower 2
    alt: 
  - type: pastels
    background_image: /images/flowers-4.jpg
    bg-pos:
    aspect: square
    col: col-4
    title: Flower 2
    alt: 
  - type: pastels
    background_image: /images/flowers-5.jpg
    bg-pos:
    aspect: landscape-wide
    col: col-8 
    title: Flower 1
    alt: 

---

<!--Header  -->
{% include header-section.html %}
{% assign sorted-seasons = site.seasons | sort:"title"  %}
<!-- Menu -->
<section class="stone-color dark-gold-text">
    <div class="grid capped-width padded-tb">
        <div class="col-12 grid-middle padded">
            <div class="col-12 text-center padded-b-2">
                <h2>Seasons</h2>
            </div>
            
            <div class="col-12 grid">
                    {% for season in sorted-seasons  %}
                    <div class="col-4_md-6_sm-12 season-list">
                        
                    <a class="" href="/seasonal-gallery/#{{season.title | slugify }}"><span class="padded-r-1 capitalise">&#8226;</span> {{season.title | capitalize }}</a>

                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</section>



{% for season in sorted-seasons  %}
<section class="padded-lr padded-2  dark-gold-text">
    <div class="capped-width grid">
        
        <div class="col-12 grid" id="{{season.title | slugify}}">
            <div class="col-5_sm-12-middle padded-2-sm text-center-sm">
                <h3 class="text-medium">{{season.title}}</h3>
            </div>
            <div class="col-7_sm-12 grid">
                <div class="col-12 grid-center seasonal-gallery dark-gold-text" id="xmas">    
                    {% for item in season.gallery %}
                    <div href="{{item.background_image}}" class="gallery-item {{item.col}}{{item.type | downcase }} relative" title="{{item.title}}" alt="{{item.alt}}">
                        <div class="bg-image {{item.aspect}}" style="background-image: url('{{item.background_image}}'); background-position: '{{item.bg-pos}}';">
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endfor %}