<header class="" >
  <div class="grid padded-1 padded-r-2 padded-l-2 border-b ">
    <div class="grid col-12  capped-width">
      <a href="/" class="col-4_xs-10">
        <h1>Maud & Ivy</h1>
      </a>
      <nav class="col-8 text-right hide-xs">
        <a href="/gallery">Products</a>
        <a href="/enquiry">Enquiry</a>
        {% include socials.html %}
      </nav>   
      <div class="col-2 text-right show-xs">
        <span class="hamburger-button">&#8801;</span>
      </div>
    </div>
  </div>
</header>

<div class="" >

</div>

<header class="mobile-menu bg-footer-color text-light padded-b border-b" >
  <div class="grid padded-1 padded-r-2 padded-l-2 border-l ">
    <div class="grid col-12  capped-width">
      <a href="/" class="col-4_xs-10">
        
      </a>
      <div class="col-2 text-right">
        <span class="hamburger-button">&#215;</span>
      </div>

      <nav class="col-12 text-center">
        <a href="/"><h1>Maud & Ivy</h1></a>
        <a href="/gallery">Products</a>
        <a href="/enquiry">Enquiry</a>
        {% include socials.html %}
      </nav>  
    </div>
  </div>
</header>
