{% if page.title != success %}
    <!--FOOTER -->    
    <footer class="stone-color">
        <div class="grid capped-width padded-2 padded-b-0">
        <div class="col-12 grid-middle-center tall-20 {{site.data.site-settings.footer.font_color}}">
            <a href="/" class="col-6_sm-10_xs-12 padded-2 text-center">                
                {% if site.data.site-settings.footer.footer-logo-img == true %}
                <img class="" src="{{site.data.site-settings.footer.footer-logo_image}}" alt="{{site.data.site-settings.footer-logo-alt}}">
                {% endif %}
                <div class="logo">
                    <h1>Maud and Ivy<br><span>Flowers</span></h1>
                </div>                
            </a>       
            <div class="col-6_sm-12 grid text-left padded-b-2-sm">
                <div class="col-12 hide-xs margin-b-1 text-center-sm">
                   <h3>Contact Us:</h3> 
                </div>
                <nav class="col-12 grid">
                    <div class="col-12 grid-center">
                        <p class="col-2 hide-xs">
                            <span class=" text-bold">Phone: </span>                         
                        </p>
                        <a class="col-10_sm-6_xs-12 padded-r-2-xs" href="Tel:{{site.data.contact-info.contact_number}}" target="_blank">
                            <span class="show-xs"><i class="fa-solid fa-phone"></i></span>
                            <span class="margin-l-05">{{site.data.contact-info.contact_number}}</span>
                            
                        </a>
                    </div>
                    <div class="col-12 grid-center padded-l-2-xs">
                        <p class="col-2 hide-xs">
                            <span class=" text-bold">Email: </span>                         
                        </p>
                        <a class="col-10_sm-6_xs-12" href="mailto:{{site.data.contact-info.contact_email}}" target="_blank">
                            <span class="show-xs"><i class="fa-solid fa-envelope"></i></span>
                            <span class="margin-l-05" >{{site.data.contact-info.contact_email}}</span>
                            
                        </a>                        
                    </div>

                </nav>                    
            </div>
            <div class="col-12 text-center padded-b-2 subtle">
            <p class="padded-b-1">
                <a href="/terms.html" >Terms and Conditions</a>
            </p>    
            <p class=" margin-b-0">Copyright 2022 <span class="hide-xxs">|</span> <span class="break-xxs">By <a href="https://www.themahalocreative.com" class="subtle" target="_blank">The Mahalo Creative</a></span> </p>
            </div>   
        </div>     
        </div>   
    </footer>
{% endif %}