    <!--FOOTER -->
    <footer class="bg-footer-color">
        <div class="grid capped-width ">
        <div class="col-12 grid-middle tall-30 {{page.footer-text}}">
            <div class="col-12 padded-2 text-center">
            {% include footer-logo.html %}
            </div>       
            <nav class="col-12 padded padded-b-0 padded-t-0 text-center">
                <a href="Tel:{{site.data.contact-info.contact_number}}" target="_blank"><span class="hide-xs">Telephone</span> <span><i class="fa-solid fa-phone"></i></span></a>    
                <a href="{{site.data.contact-info.contact_email}}"  target="_blank"><span class="hide-xs">Email</span> <span><i class="fa-solid fa-envelope"></i></span></a>               
                <a href="{{site.data.contact-info.contact_email}}"  target="_blank"><span class="hide-xs">Address</span> <span><i class="fa-solid fa-map-location"></i></span></a>         
            </nav>
            <div class="col-12 text-center padded-1 subtle">
            <p class=" margin-b-0">Copyright 2022 | By <a href="https://www.themahalocreative.com" class="subtle" target="_blank">The Mahalo Creative</a></p>
            </div>   
        </div>     
        </div>   
    </footer>