<div class="grid-center filterable-gallery dark-gold-text" id="lightgallery">    
    {% for item in page.gallery %}
    <div href="{{item.background_image}}" class="gallery-item col-4_md-6_xs-12 {{item.type}} relative" title="{{item.title}}" alt="{{item.alt}}">
        <div class="bg-image" style="background-image: url('{{item.background_image}}'); background-position: '{{item.bg-pos}}';">
        </div>
        <div class="numbers text-center">
            <p>{{item.number}}</p>
        </div>
    </div>
    {% endfor %}
    </div>
</div>