<section class="dark-gold-text  padded-header-card padded-b-2-sm"  >
    <div class="grid" >
        <div class="col-12 bg-image {{page.header-background-position}} tall-50" style="background-image: url('{{page.header_image}}');"></div>      
    </div>     
    <div class="capped-width relative grid-right">
      <div class="col-6_md-8_sm-12 grid-bottom text-left absolute static-sm  header-card">   
      <div class="col-12 stone-color  grid-middle ">
        <div class="col-12 card-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" >
          <h2 class="editable">{{page.header-title}}</h2>
          <p class="editable">{{page.header-description}}</p>             
        </div>
      </div>       
    </div>  
</section>  