<!-- Styles  -->
<style> 
    :root {        
        --bg-color: {{ site.data.site-settings.design.bg-color_color }};
        --dark-text: {{ site.data.site-settings.design.dark-text_color }};
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --text-hover: {{ site.data.site-settings.design.text-hover_color }};
        --text-gold: {{ site.data.site-settings.design.text-gold_color }};
        --light-text-hover: {{ site.data.site-settings.design.light-text-hover_color }};
        --banner-color: {{ site.data.site-settings.design.banner-color_color }};
        --banner-color1: {{ site.data.site-settings.design.banner-color1_color }};
        --banner-color-opacity: {{ site.data.site-settings.design.banner-color-opacity_color }};
        --footer-color: {{ site.data.site-settings.design.footer-color_color }};
    }
</style>  