<div id="stock" class="fixed stone-color dark-gold-text z-index">
    <div class="capped-width ">
        <div class="grid padded-2 text-center">
            <div class="col-12">
                <p class="margin-b-0"> 
                  <span class="editable">{{site.data.contact-info.break.description}}</span> 
                  {{site.data.contact-info.break.date}}. 
                  <br> <span class="editable">{{site.data.contact-info.break.emergency-description}}</span> 
                  <a href="tel:{{site.data.contact-info.contact_number}}" class="inline-block"  target="_blank">{{site.data.contact-info.contact_number}}</a>.
                </p> 
            </div>
        </div>

    </div>



</div>
