<!--ABOUT 
<section class="dark-gold-text padded-b-card padded-0-sm " >
  <div class="grid-right-middle flex-flip-sm capped-width">
    <div class="col-6_sm-12 grid-top padded-l-2 padded-sm" >
        <div class="col-12 bg-image {{page.about-background-position}} square" style="background-image: url('{{page.about_image}}');"></div>      
    </div>     
    <div class="relative col-6_sm-12 grid-middle text-left" >    
      <div class="col-12 absolute card static-sm" >
        <div class="stone-color  grid-middle ">
          <div class="col-12 card-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" >
            <h3 class="editable">Order Here</h3>
            <p class="editable">{{page.about-description | truncatewords: 65 }}</p>
            
          </div>
        </div>        
      </div>  
    </div>  
  </div> 
</section>   -->