<!-- Accordian -->
<section class="padded-b">
    <div class="grid padded capped-width dark-gold-text">
      <div class="col-12">
        <h3 class="text-center">Inspiration for your budget</h3>
        {% for item in page.pricing %}
        <div class="tab">
          <input id="tab-{{item.price}}" name="tabs" type="checkbox">
          <label for="tab-{{item.price}}">
              <p>{{item.budget}}</p>
              <span>${{item.price}}</span>
          </label>
          <div class="tab-content hidden-tab">
              <div class="grid ">
                <p class="padded-05">{{item.more-info}}</p>
                {% for item in item.image %}
                <div class="col-4 padded-05">
                  <div class="bg-image square" style="background-image: url('{{item.background_image}}')"></div>
                  <p class="caption">{{item.title}}</p>
                </div>
  
                {% endfor %}
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  /* ACCORDIAN */
  .tab {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-left: .5rem;
    border: 1px solid;
    margin: 0 0 -1px;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  input[type="checkbox"], input[type="radio"] {
    display: inline;
  }  
  
  .tab input[type="checkbox"] + label::after, .tab input[type="radio"] + label::after {
    content: "+";
  }
  .tab input[type="checkbox"]:checked + label::after, .tab input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
  }
  .tab input[type="checkbox"]:checked + label {
    font-weight: 700;
  }
  /* CROSS BUTTON */
  .tab label::after {
    position: absolute;
    left: 0rem;
    top: .3rem;
    display: block;
    font-size: 1.5rem;
    width: 2.2em;
    height: 2.2em;
    line-height: 2;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab label {
    display: inline-block;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
  }
  /* heading and price */
  .tab p{
    display: inline-block;
    padding:1rem 3rem;
    margin: 0;
    line-height: 1.5;
  }
  .tab label span {
    float: right;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 4;
    padding-right: 1rem;
  }
  /* when opened */
  .tab input:checked ~ .tab-content {
    max-height: 100em;
    opacity: 1;
  }
  .tab .tab-content {
    max-height: 0;
    display: block;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s,padding .35s,opacity .5s;
    -o-transition: max-height .35s,padding .35s,opacity .5s;
    transition: max-height .35s,padding .35s,opacity .5s;
    padding: 0 1rem;
  }
  .tab-content p.caption {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }  