<div class="text-scroll col-12 ">
    <div class="bg-light border-b border-t ">   
        <div class="marquee enable-animation marquee--hover-pause ">
            <div class="marquee__content">
                {% for item in page.notification %}
               <a href="{{item.page_href}}">
                  <h3 class="">
                    {{item.note}}
                  </h3>                
               </a>
                {% endfor %}
            </div>   
            <div class="marquee__content" aria-hidden="true">
                {% for item in page.notification %}
                <a href="{{item.page_href}}">
                  <h3 class="">
                    {{item.note}}
                  </h3>                
                </a>
                {% endfor %}
            </div>
        </div>         
    </div>     
</div> 